* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  background: -webkit-linear-gradient(
    -35deg,
    rgba(30, 29, 31, 1) 0%,
    rgba(223, 64, 90, 1) 130%
  );
  min-height: 100vh;
}

#container {
  width: 100%;
}

.main_wrapper {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.active_page {
  padding: 30px;
  background: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
p {
  color: #032942;
}
input,
select {
  background-color: rgba(0, 0, 0, 0.168);
  -webkit-box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.05),
    1px 1px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.05),
    1px 1px 0px rgba(255, 255, 255, 1);
  box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.05),
    1px 1px 0px rgba(255, 255, 255, 1);
  transition: all 0.4s ease;
  border: none;
}

input:focus {
  background-color: #f8f8c6;
  outline: none;
  transition: all 0.4s ease;
}
button {
  background-color: #87314e;
  border: 1px #87314e solid;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  transition: all 0.4s ease;
  font-family: "Ubuntu", sans-serif;
}
input[type="submit"]:hover,
button:hover {
  background-color: #df405a;
  border: 1px #df405a solid;
  transition: all 0.4s ease;
}

input,
select,
button {
  width: 200px;
  height: 35px;
  text-indent: 7px;
  outline: none;
  border-radius: 4px;
  font-family: "Ubuntu", sans-serif;

  font-size: 16px;
  font-weight: 400;
}

button {
  cursor: pointer;
}
span {
  font-size: 30px;
  font-weight: 600;
}

.main_inputs_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
}
.full_color,
.one_color {
  background: #fff;
  border-radius: 10px;
  padding: 30px;
}
.main_inputs_wrapper div {
  display: flex;
  flex-direction: column;
}
.input_label {
  margin-bottom: 3px;
}
#button1,
#button2 {
  margin-top: 20px;
  padding: 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: all 0.4s ease;
}

.val_options select {
  margin: 0;
  cursor: pointer;
}
.meter_square {
  display: flex;
  flex-direction: column;
}

.color_select {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.full_color,
.one_color {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
  transition: all 0.1s ease;
}
#oc,
#pc {
  transition: all 0.1s ease;
}

.full_color div,
.one_color div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full_color div p,
.one_color div p {
  margin-bottom: 5px;
}

.meters,
.prices,
.prices_bottom,
.print_form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  transition: all 0.4s ease;
}
.meters {
  margin-top: 20px;
}

.from_top_anim {
  transform: translateY(-150%);
  animation: from_top 1s forwards;
}
@keyframes from_top {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
.opacity_anim {
  animation: opacity_anim 1s forwards;
}
@keyframes opacity_anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.prices {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.aditional_btn {
  cursor: pointer;
  color: #fff;
}
#aditional {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  transition: all 0.4s ease;
  border-top-left-radius: 0;
}
#aditional .aditional_checkboxes input {
  cursor: pointer;
}
#aditional_title {
  font-size: 20px;
}
.aditional_checkboxes div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.aditional_checkboxes div input {
  width: 20px;
  margin-right: 5px;
}
.aditional_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aditional_inputs_title {
  margin-bottom: 20px;
  font-size: 20px;
}

.aditionals_inp {
  display: flex;
  align-items: center;
}
.aditionals_inp div {
  margin: 0 20px;
}

.print_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.print_prices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aditional_wrapper {
  width: 260px;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: all 0.4s ease;
}
.download {
  position: fixed;
  top: 30px;
  right: 30px;
}
.download button {
  width: 80px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}

.hight_print_form {
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1310px) {
  .main_inputs_wrapper,
  .meters,
  .prices,
  .prices_bottom,
  .print_form,
  .full_color,
  .one_color {
    flex-wrap: wrap;
  }

  .main_inputs_wrapper div,
  .meters div,
  .prices div,
  .prices_bottom div,
  .print_form div,
  .full_color div,
  .one_color div,
  .aditionals_inp div {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .main_inputs_wrapper,
  .meters,
  .prices,
  .prices_bottom,
  .print_form,
  .aditionals_inp {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
  }
  #aditional {
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
  }
  .aditionals_inp {
    margin-bottom: 0;
  }
  .aditional_inputs_title {
    margin-bottom: 5px;
    margin-top: 15px;
  }
  .color_select {
    flex-direction: column;
  }
  .main_wrapper {
    width: 90%;
    padding-top: 30px;
  }
  input,
  select,
  button {
    width: 290px;
  }
  #aditional_wrapper {
    width: 340px;
  }
  .print_form {
    margin-top: 20px;
  }
  .flex_print {
    flex-direction: column-reverse;
  }
  .flex_print #highprint {
    margin-bottom: 30px;
  }
  .high_print #flexprint {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 450px) {
  #button1,
  #button2 {
    margin: 0;
    padding: 10px;
  }
  #aditional {
    margin-bottom: 0px;
  }
  #aditional_wrapper button {
    width: 100% !important;
  }
  .download {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  .download button {
    font-size: 9px !important;
    width: 50px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 10px !important;
    right: 10px !important;
  }
  .main div {
    margin-bottom: 30px;
  }
  .download button {
    width: 45px;
    height: 40px;
    border-radius: 50%;
    background: #87314e;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
  }
}

@media only screen and (max-width: 410px) {
  #aditional {
    border-top-right-radius: 0;
  }
  #aditional_wrapper {
    width: 100%;
  }
  .active_page {
    padding: 10px;
  }
}
